/__pycache__
/.idea
/*.csv
/*.json
/config.ini
*.json
/api_classes/__pycache__
api_classes/__pycache__/*
build/lib/AppDApiTools
not_used_requirements.txt
not_used_setup.py
*.pyc
.DS_Store
/dist/
dist/AppDApiTools-0.0.1-py3-none-any.whl
dist/AppDApiTools-0.0.1.tar.gz
